head, body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F9;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container {
    height: 100vh;
    position: relative;
}
.main__button {
    position: fixed;
    text-decoration: none;
    color: #FFF;
    background-color: #F72E6C;
    padding: 12px 17px;
    font-size: 14px;
    font-family: Arial;
    border-radius: 24px;
    outline: none;
    margin-top: 20px;

}
#logo, #smallBall, #smallBallTranstarent, #bigBallTranstarent, #bigBall, #present {
    position: fixed;
    transition: bottom cubic-bezier(1, 1, 0, 0);
}
#logo {
    transition: filter 1s, bottom 6s;
    bottom: 50%;
    z-index: 2;
}
#smallBall {
    right: 182px;
    bottom: -700px;
    transition-duration: 11s;
}
#smallBallTranstarent {
    bottom: -1000px;
    right: -100px;
    transition-duration: 9s;
}
#bigBallTranstarent {
    bottom: -1000px;
    left: 100px;
    transition-duration: 9s;
}
#bigBall {
    z-index: 1;
    bottom: -1500px;
    transition-duration: 12s;
}

#present {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 959px;
    z-index: 2;
    bottom: -1500px;
    transition-duration: 12s;
}
#presentImg {
    width: 265px;
    transition: transform 2s, transform 2s, width 2s;
    transform: rotate(-8deg);
}


